<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<style>
body {background-color: linen;}
</style>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post">
        <label>User Name:</label>
        <input type="text" placeholder="Enter your username or email"
               name="email" /> <br />
        <label>Password:</label>
        <input type="password" name="password"/> <br />
        <input type="submit" value="Submit" name="submit"/>
    </form>
</body>
</html>