<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<style>
body {background-color: linen;}
</style>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Thank You</h1>
</body>
</html>