<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<style>
body {
  text-align: center;
}
</style>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>Login</h1>
    <form method="post"> 
	<label>Email:</label>
	<input type="text" size="30" placeholder="Enter your email:" name="email" value=<%= emailin%>><br />
	<label>Password:</label>
	<input type="password" size="30" placeholder="Enter your password:" name="password"><br />
		<input type="submit" value="Login" name="submit"/>
    </form>
</body>
</html>