#wholePage {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border-radius: 15px;
	background-image: url('images/bck44btn.jpg');
}
h1 {
	border: 1px solid #000033;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #828282;
	background-color: #000000;
	color: #FFFF99;
}
h2 {
	border: 1px solid #000033;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #828282;
	background-color: #000000;
	color: #FFFF99;
}
h4 {
	border: 1px solid #000033;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #828282;
	background-color: #C0C0C0;
	color: #000000;
}
body {
	font: 100% Arial, Helvetica, sans-serif;
	text-align: center;
}
label {
	width:100px;
	display:inline-block;
}
fieldset {
	margin-left:400px;
	margin-right:400px;
}
select {
	width: 170px
}
input{
	width: 170px;
}