vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 Dec 2016 04:40:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Sargis-PC\\Sargis N
vti_modifiedby:SR|Sargis-PC\\Sargis N
vti_timecreated:TR|11 Dec 2016 09:55:36 -0000
vti_backlinkinfo:VX|TermProject_Home.html TermProject_PizzaList_1.html TermProject_PizzaList_2.html TermProject_PizzaList_3.html TermProject_PizzaList_4.html TermProject_Switchboard.html TermProject_Contact.html TermProject_Credits.html TermProject_Template.dwt TermProject_PizzaList_5.html
vti_nexttolasttimemodified:TW|16 Dec 2016 04:40:26 -0000
vti_cacheddtm:TX|16 Dec 2016 04:40:47 -0000
vti_filesize:IR|1935
