    .centercell {
		text-align: center;
	}
	.rightcell {
		text-align:right;
		font-size:small;
	}
	.tabbtn {
		background-color:black;
		color:whitesmoke;
		border:none;
		padding: 9px;
		padding-left:25px;
		padding-right:25px;	
        cursor:pointer;
	}
	.tab {
		position:relative;
		display:inline-block;
	}
	.tab-content {
		display:none;
		position:absolute;
		background-color:beige;
		z-index:1;
	}
	.tab-content a{
		color:black;
		display:block;
		padding: 9px;
        text-decoration:none;
	}
	.tab-content a:hover{
		background-color:papayawhip;
	}

	.tab:hover .tab-content{
		display:block;
	}
	.content{
	padding-left:30px;
	padding-right:30px;
	}
	body {
		font-family:Verdana, Geneva, Tahoma, sans-serif;
        background:
            -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(250,234,192,1) 19%, rgba(245,215,144,1) 47%, rgba(250,233,190,1) 81%, rgba(252,234,187,1) 100%);
	}
	.italics {
		font-style:italic;
		font-size:small;
	}
    .gameTable_Edit{
        width: 200px;
    }

    .tablestyle {
        border: 1px solid black;
    }

    .tablestyle2 {
        border: 1px solid black;
        width: 200px;
    }

    .redfont {
        color: #FF0000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cartPageTextA{
        text-align: center;
        height: 47px;
    }
    .cartPageTextB{
        line-height: 200%;
	    font-family: Arial, Helvetica, sans-serif;
    }
    .gameBoxArtCover{
        background-color:black; 
        color:white;
    }